<div class="modal fade bg-secondary" id="betModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="exampleModal1LongTitle">Bet Terms</h5>
                <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark">
                <!-- Bet Form -->
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-auto">
                        <label for="bet">I bet</label>
                        <select type="form-select" class="form-control bg-dark border-success text-white"
                            id="winner">
                            <option selected>Team 1</option>
                            <option value="Team 2">Team 2</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="beats">Beats</label>
                        <select type="form-select" class="form-control bg-dark border-success text-white"
                            id="loser">
                            <option selected>Team 2</option>
                            <option value="Team 1">Team 1</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <label for="wager">Wager</label>
                        <input type="number" class="form-control bg-dark border-success text-white"
                            id="wager" placeholder="5.00">
                    </div>
                </form>
                <!-- END SIGN UP FORM -->
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger tooltip-test" title="Once bets are placed they cannot be withdrawn!">Place Bet</button>
            </div>
        </div>
    </div>
</div>