<div class="row-col d-flex flex-wrap justify-content-center col-sm-12 Border">
    <div class="row-col col-12 d-flex flex-wrap ">
        <div class="row-col col-12 d-flex flex-wrap justify-content-between">
            <div class="col-6">
                <h1 class="newsHead">
                    Live Bets
                </h1>
            </div>
        </div>
        <div class="row-col col-sm-10 d-flex flex-wrap justify-content-center">
            <!-- CARDS -->
            <div class="card shadow-effect  d-flex flex-wrap col-sm-10 justify-content-center mobile">

                <div class="card-body col-sm-12 d-flex flex-wrap justify-content-center mobile">
                    <table class="table table-striped table-dark mobile">
                        <thead>
                            <tr>
                                <th scope="col">Bet Terms</th>
                                <th scope="col">Time</th>
                                <th scope="col">Challenger</th>
                                <th scope="col">Wager</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>