<div class="row-col col-12 d-flex flex-wrap Border">
    <div class="row-col col-12 d-flex flex-wrap justify-content-between">
        <div class="col-6">
            <h1 class="newsHead">
                Active Bets
            </h1>
        </div>
    </div>
    <div class="row-col col-12 d-flex flex-wrap justify-content-center">
                                <!-- CARDS -->
        <div class="card shadow-effect w-100" >

            <div class="card-body container">
                <div class="row">
                    <div class="col-4">
                        <h5 class="card-title newsTitle">Match Up</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="card-title newsTitle">Time</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="card-title newsTitle">Challenger</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="card-title newsTitle">Wager</h5>
                    </div>
                    <div class="col-2">
                        <h5 class="card-title newsTitle">Pick</h5>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h6 class="card-title newsTitle">Dallas Maverics vs Chicago Bulls</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Today at 9pm</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Cody</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">$100</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Dallas Maverics</h6>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h6 class="card-title newsTitle">Dallas Maverics vs Chicago Bulls</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Today at 9pm</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Cody</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">$100</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Dallas Maverics</h6>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h6 class="card-title newsTitle">Dallas Maverics vs Chicago Bulls</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Today at 9pm</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Cody</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">$100</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Dallas Maverics</h6>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h6 class="card-title newsTitle">Dallas Maverics vs Chicago Bulls</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Today at 9pm</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Cody</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">$100</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Dallas Maverics</h6>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h6 class="card-title newsTitle">Dallas Maverics vs Chicago Bulls</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Today at 9pm</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Cody</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">$100</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Dallas Maverics</h6>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        <h6 class="card-title newsTitle">Dallas Maverics vs Chicago Bulls</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Today at 9pm</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Cody</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">$100</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title newsTitle">Dallas Maverics</h6>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>