<!-- NEWS -->
                        <div class="row-col col-12 d-flex flex-wrap Border">
                            <div class="row-col col-12 d-flex flex-wrap justify-content-start">
                                <h1 class="newsHead">NEWS</h1>
                            </div>
                            <div class="row-col col-12 d-flex flex-wrap justify-content-center single-item">
                                <!-- CARDS -->
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card shadow-effect col-lg-8">
                                        <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                                            <img class="card-img-top"
                                                src="https://upload.wikimedia.org/wikipedia/en/b/bb/Los_Angeles_Clippers_%282015%29.svg"
                                                alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title newsTitle">Paul George Ruled Out Tuesday</h5>
                                            <p class="card-text">Los Angeles Clippers forward Paul George (foot) has
                                                been
                                                ruled
                                                out
                                                for Tuesday's contest against the Magic. It marks George's second
                                                straight
                                                absence,
                                                as he also missed Monday's game against the Bucks due to a sore foot.
                                                Forward
                                                Marcus
                                                Morris Sr., guard Reggie Jackson, and guard Luke Kennard scored 20-plus
                                                points
                                                with
                                                at least four triples without George in the picture against Milwaukee.
                                                The
                                                Magic
                                                have been very generous to wing players this year, so all three are in
                                                play
                                                for
                                                DFS
                                                formats, as well as Kawhi Leonard.</p>
                                            <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card shadow-effect col-lg-8">
                                        <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                                            <img class="card-img-top"
                                                src="https://upload.wikimedia.org/wikipedia/en/c/c7/SacramentoKings.svg"
                                                alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title newsTitle">Hassan Whiteside Out Monday Against Spurs
                                            </h5>
                                            <p class="card-text">Sacramento Kings center Hassan Whiteside will miss his
                                                third
                                                straight contest on Monday against San Antonio. Whiteside has been
                                                dealing
                                                with
                                                a
                                                sore knee, though it's at least a good sign that he was initially listed
                                                as
                                                questionable. His absence will mean that Richaun Holmes will continue to
                                                dominate
                                                the frontcourt touches for Sacramento, though forwards Chimezie Metu and
                                                Chris
                                                Silva
                                                could have solid games if they see added minutes. Metu has been earning
                                                more
                                                trust
                                                with the coaching staff lately, as he has 13 points, nine rebounds, and
                                                three
                                                blocks
                                                in his last 30 minutes across two contests.</p>
                                            <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card shadow-effect col-lg-8">
                                        <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                                            <img class="card-img-top"
                                                src="https://upload.wikimedia.org/wikipedia/en/3/36/Toronto_Raptors_logo.svg"
                                                alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title newsTitle">Kyle Lowry To Miss 7-10 Days Of Action</h5>
                                            <p class="card-text">Toronto Raptors guard Kyle Lowry (foot) will be
                                                sidelined
                                                for
                                                7-10 days, per Blake Murphy of The Athletic. Lowry was ruled out early
                                                for
                                                Wednesday's game, with head coach Nick Nurse saying that the veteran
                                                guard's
                                                toe
                                                infection \"is not going well.\" With Lowry out for a week, guards Fred
                                                VanVleet
                                                and Gary Trent Jr. will shoulder a bigger scoring load in the backcourt.
                                                Guard
                                                Rodney Hood and forward Stanley Johnson could also see expanded roles
                                                for
                                                Toronto. VanVleet and Trent should be the more reliable DFS plays of the
                                                bunch.
                                            </p>
                                            <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card shadow-effect col-lg-8">
                                        <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                                            <img class="card-img-top"
                                                src="https://upload.wikimedia.org/wikipedia/en/2/24/Atlanta_Hawks_logo.svg"
                                                alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title newsTitle">De'Andre Hunter Ruled Out Sunday</h5>
                                            <p class="card-text">Atlanta Hawks forward De'Andre Hunter (knee) will not
                                                play
                                                Sunday against the Denver Nuggets. Hunter recently returned from a
                                                lengthy
                                                knee
                                                injury and is experiencing knee soreness, missing the past two games. It
                                                is
                                                possible Hunter may have returned too soon which made his knee flare up.
                                                Regardless, Hunter's absence should lead to another start for Tony Snell
                                                and
                                                more minutes for Bogdan Bogdanovic, Danilo Gallinari and Kevin Huerter.
                                                John
                                                Collins is also a big winner here and should be a popular DFS target in
                                                this
                                                one.
                                            </p>
                                            <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card shadow-effect col-lg-8">
                                        <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                                            <img class="card-img-top"
                                                src="https://upload.wikimedia.org/wikipedia/en/9/97/Dallas_Mavericks_logo.svg"
                                                alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title newsTitle">Luka Doncic, Kristaps Porzingis Ruled Out
                                                Saturday
                                            </h5>
                                            <p class="card-text">"Dallas Mavericks guard Luka Doncic (illness) and
                                                center
                                                Kristaps Porzingis (knee) have been ruled out for Saturday's contest
                                                against
                                                the
                                                Pelicans. Doncic's status was already up-in-the-air due to back
                                                tightness,
                                                but
                                                he contracted a non-COVD related illness, all but ensuring he wouldn't
                                                suit
                                                up.
                                                Porzingis will sit for the second half of the team's back-to-back. Jalen
                                                Brunson, Josh Richardson, and Tim Hardaway Jr. should all get a ton of
                                                scoring
                                                and playmaking opportunities on Saturday without Doncic and Porzingis.
                                                Dwight
                                                Powell and Maxi Kleber should see most of Porzingis' minutes- though
                                                Boban
                                                Marjanovic could also make an appearance on the court.
                                            </p>
                                            <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>


                        <!-- GAMES -->
                        <div class="row-col col-12 d-flex flex-wrap Border">
                            <div class="row-col col-12 d-flex flex-wrap justify-content-between">
                                <div class="col-6">
                                    <h1 class="newsHead">Games</h1>
                                </div>
                                <div class="col-6 mr-3">
                                    <h1 class="gameHead text-end">9 Matches</h1>
                                </div>
                            </div>
                            <div class="row-col col-12 d-flex flex-wrap justify-content-start">
                                <!-- CARDS -->
                                <div class="card shadow-effect" style="width: 18rem;">
                                    <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                                        <img class="card-img-top"
                                            src="https://upload.wikimedia.org/wikipedia/en/b/bb/Los_Angeles_Clippers_%282015%29.svg"
                                            alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title newsTitle">Paul George Ruled Out Tuesday</h5>
                                        <p class="card-text">Los Angeles Clippers forward Paul George (foot) has been
                                            ruled
                                            out
                                            for Tuesday's contest against the Magic. It marks George's second straight
                                            absence,
                                            as he also missed Monday's game against the Bucks due to a sore foot.
                                            Forward
                                            Marcus
                                            Morris Sr., guard Reggie Jackson, and guard Luke Kennard scored 20-plus
                                            points
                                            with
                                            at least four triples without George in the picture against Milwaukee. The
                                            Magic
                                            have been very generous to wing players this year, so all three are in play
                                            for
                                            DFS
                                            formats, as well as Kawhi Leonard.</p>
                                        <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <!-- BETS -->
                        <div class="row-col col-12">
                            Three
                        </div>