<!-- NEWS -->
<div class="row-col col-12 d-flex flex-wrap Border">
    <div class="row-col col-12 d-flex flex-wrap justify-content-start">
        <h1 class="newsHead">NEWS</h1>
    </div>
    <!-- SINGLE ITEM CLASS WORKS SLIDER, RUNS EACH DIV IN SUCCESSION  -->
    <div class="row-col col-12 d-flex flex-wrap justify-content-center single-item">
        <!-- CARDS -->
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <div class="card shadow-effect col-lg-8">
                <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <img class="card-img-top"
                        src="https://upload.wikimedia.org/wikipedia/en/b/bb/Los_Angeles_Clippers_%282015%29.svg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title newsTitle">Paul George Ruled Out Tuesday</h5>
                    <blockquote class="blockquote">
                        <p class="card-text">Los Angeles Clippers forward Paul George (foot) has
                            been
                            ruled
                            out
                            for Tuesday's contest against the Magic. It marks George's second
                            straight
                            absence,
                            as he also missed Monday's game against the Bucks due to a sore
                            foot.
                            Forward
                            Marcus
                            Morris Sr., guard Reggie Jackson, and guard Luke Kennard scored
                            20-plus
                            points
                            with
                            at least four triples without George in the picture against
                            Milwaukee.
                            The
                            Magic
                            have been very generous to wing players this year, so all three are
                            in
                            play
                            for
                            DFS
                            formats, as well as Kawhi Leonard.</p>
                    </blockquote>

                    <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                </div>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow-effect col-lg-8">
                <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/c/c7/SacramentoKings.svg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title newsTitle">Hassan Whiteside Out Monday Against Spurs
                    </h5>
                    <blockquote class="blockquote">
                        <p class="card-text">Sacramento Kings center Hassan Whiteside will miss
                            his
                            third
                            straight contest on Monday against San Antonio. Whiteside has been
                            dealing
                            with
                            a
                            sore knee, though it's at least a good sign that he was initially
                            listed
                            as
                            questionable. His absence will mean that Richaun Holmes will
                            continue to
                            dominate
                            the frontcourt touches for Sacramento, though forwards Chimezie Metu
                            and
                            Chris
                            Silva
                            could have solid games if they see added minutes. Metu has been
                            earning
                            more
                            trust
                            with the coaching staff lately, as he has 13 points, nine rebounds,
                            and
                            three
                            blocks
                            in his last 30 minutes across two contests.</p>
                    </blockquote>

                    <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                </div>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow-effect col-lg-8">
                <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <img class="card-img-top"
                        src="https://upload.wikimedia.org/wikipedia/en/3/36/Toronto_Raptors_logo.svg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title newsTitle">Kyle Lowry To Miss 7-10 Days Of Action</h5>
                    <blockquote class="blockquote">
                        <p class="card-text">Toronto Raptors guard Kyle Lowry (foot) will be
                            sidelined
                            for
                            7-10 days, per Blake Murphy of The Athletic. Lowry was ruled out
                            early
                            for
                            Wednesday's game, with head coach Nick Nurse saying that the veteran
                            guard's
                            toe
                            infection \"is not going well.\" With Lowry out for a week, guards
                            Fred
                            VanVleet
                            and Gary Trent Jr. will shoulder a bigger scoring load in the
                            backcourt.
                            Guard
                            Rodney Hood and forward Stanley Johnson could also see expanded
                            roles
                            for
                            Toronto. VanVleet and Trent should be the more reliable DFS plays of
                            the
                            bunch.
                        </p>
                    </blockquote>

                    <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card shadow-effect col-lg-8">
                <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <img class="card-img-top"
                        src="https://upload.wikimedia.org/wikipedia/en/2/24/Atlanta_Hawks_logo.svg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title newsTitle">De'Andre Hunter Ruled Out Sunday</h5>
                    <blockquote class="blockquote">
                        <p class="card-text">Atlanta Hawks forward De'Andre Hunter (knee) will
                            not
                            play
                            Sunday against the Denver Nuggets. Hunter recently returned from a
                            lengthy
                            knee
                            injury and is experiencing knee soreness, missing the past two
                            games. It
                            is
                            possible Hunter may have returned too soon which made his knee flare
                            up.
                            Regardless, Hunter's absence should lead to another start for Tony
                            Snell
                            and
                            more minutes for Bogdan Bogdanovic, Danilo Gallinari and Kevin
                            Huerter.
                            John
                            Collins is also a big winner here and should be a popular DFS target
                            in
                            this
                            one.
                        </p>
                    </blockquote>

                    <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card shadow-effect col-lg-8">
                <div class="imgBackground col-lg-3 col-md-3 col-sm-3 col-xl-3">
                    <img class="card-img-top"
                        src="https://upload.wikimedia.org/wikipedia/en/9/97/Dallas_Mavericks_logo.svg"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title newsTitle">Luka Doncic, Kristaps Porzingis Ruled Out
                        Saturday
                    </h5>
                    <blockquote class="blockquote">
                        <p class="card-text">"Dallas Mavericks guard Luka Doncic (illness) and
                            center
                            Kristaps Porzingis (knee) have been ruled out for Saturday's contest
                            against
                            the
                            Pelicans. Doncic's status was already up-in-the-air due to back
                            tightness,
                            but
                            he contracted a non-COVD related illness, all but ensuring he
                            wouldn't
                            suit
                            up.
                            Porzingis will sit for the second half of the team's back-to-back.
                            Jalen
                            Brunson, Josh Richardson, and Tim Hardaway Jr. should all get a ton
                            of
                            scoring
                            and playmaking opportunities on Saturday without Doncic and
                            Porzingis.
                            Dwight
                            Powell and Maxi Kleber should see most of Porzingis' minutes- though
                            Boban
                            Marjanovic could also make an appearance on the court.
                        </p>
                    </blockquote>

                    <a href="#" class="btn btn-primary news-btn">View Full Story</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- GAMES -->
<!-- THIS BEGINS DYNAMIC CONTENT -->
<div class="row-col col-sm-12 d-flex flex-wrap justify-content-center Border">
    <div class="row-col col-sm-12 d-flex flex-wrap justify-content-center">
        <div class="col-6">
            <h1 class="newsHead">Games</h1>
        </div>
        <!--  -->
        <!-- HANDLEBARS HERE FOR MATCH QUANTITY -->
        <!--  -->
        <div class="col-6 mr-3">
            <h1 class="gameHead text-end">9 Matches</h1>
        </div>
    </div>
    <!-- START DIV THAT HOLD THE GAME CARDS, MAIN CONTAINER FOR SLIDER SINGLE_ITEM CLASS CONTROLS SLIDER-->
    <div class="row-col col-12 d-flex flex-wrap justify-content-center single-item1">
        <!-- THE EACH LOOP SHOULD START HERE FOR MULTIPLE CARDS -->
        <!-- CARDS -->
        <div class="col-sm-12 d-flex flex-wrap justify-content-center">
            <div class="card shadow-effect d-flex flex-wrap justify-content-center col-sm-10 ">
                <div class=" d-flex flex-wrap justify-content-start game-team-border col-12">
                    <!--  -->
                    <!-- HANDLEBARS HERE FOR TEAM LOGOS -->
                    <!--  -->
                    <div class="imgBackground-dash d-flex flex-wrap col-6 pic-1"><img
                            src="https://upload.wikimedia.org/wikipedia/en/b/bb/Los_Angeles_Clippers_%282015%29.svg"
                            alt="Card image cap">
                    </div>
                    <!--  -->
                    <!-- HANDLEBARS HERE FOR TEAM LOGOS -->
                    <!--  -->
                    <div class="imgBackground-dash col-6 d-flex flex-wrap pic-2"><img
                            src="https://upload.wikimedia.org/wikipedia/en/b/bb/Los_Angeles_Clippers_%282015%29.svg"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="card-body col-12 d-flex flex-wrap justify-content-center">

                    <div class="col-6 d-flex flex-wrap justify-content-center text-center mb-3">
                        <!--  -->
                        <!-- HANDLEBARS HERE FOR TEAM 1 NAME -->
                        <!--  -->
                        <div class="col-sm-12 teams">TEAM 1 </div>
                    </div>

                    <div class=" col-6 d-flex flex-wrap justify-content-center text-center mb-3">
                        <!--  -->
                        <!-- HANDLEBARS HERE FOR TEAM 2 NAME -->
                        <!--  -->
                        <div class="col-sm-12 time">TEAM 2</div>
                    </div>
                    <div class=" col-12 d-flex flex-wrap justify-content-center text-center mb-4">
                        <!--  -->
                        <!-- HANDLEBARS HERE FOR GAME TIME -->
                        <!--  -->
                        <div class="col-sm-12 time">9:00pm</div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary news-btn pulse">Place Wager</a>
                    </div>
                    <!-- ACCORDION -->
                    <!-- NEED TO CHANGE THE IDS DYNAMICALLY FOR ACCORDION -->
                    <!--                                        THE ID HERE MUST MATCH BELOW -->
                    <div class="d-flex col-12 justify-content-center table-text-mobile" id="accordion-1">
                        <!-- START OF SINGLE GAME INFO DIV -->
                        <div class="card game-card d-flex flex-wrap col-10 justify-content-center game-btn-ctnr">
                            <!-- NEED TO CHANGE THE IDS DYNAMICALLY FOR ACCORDION -->
                            <!--                                        THE ID HERE MUST MATCH BELOW -->
                            <div class="d-flex flex-wrap col-sm-12 justify-content-end card-header" id="heading-1">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-3 flex-wrap justify-content-center">
                                    <h5 class="mb-0 d-flex flex-wrap justify-conent-center col-sm-12 text-align-start">
                                        <!-- NEED TO CHANGE THE COLLAPSE IDS DYNAMICALLY FOR ACCORDION -->
                                        <!--                                        THE ID HERE MUST MATCH BELOW -->
                                        <button
                                            class=" d-flex flex-wrap col-sm-12 justify-content-center border-none game-btn-ctnr"
                                            data-toggle="collapse" data-target="#collapse-1" aria-expanded="true"
                                            aria-controls="collapse-1">
                                            <span class="game-actBet-btn">Active Bets</span>
                                        </button>
                                    </h5>
                                </div>

                            </div>
                            <!-- THE ID AND ARIA LABELS MUST MATCH THE ID FOR THE CARD -->
                            <!-- NEED TO CHANGE THE COLLAPSE IDS DYNAMICALLY FOR ACCORDION -->
                            <!--                                        THE ID HERE MUST MATCH ABOVE -->
                            <div class="d-flex justify-content-center col-12 mobile">
                                <div id="collapse-1" class="collapse" aria-labelledby="heading-1"
                                    data-parent="#accordion-1">
                                    <div
                                        class="card-body d-flex flex-wrap game-card-body justify-content-center col-12">
                                        <table class="table table-striped table-dark ">
                                            <thead>
                                                <tr>

                                                    <th scope="col">CHALLENGER</th>
                                                    <th scope="col">WAGER</th>
                                                    <th scope="col">PICK</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">USER_NAME</th>
                                                    <td>$100</td>
                                                    <td>TEAM 2</td>
                                                    <td><a href="#" class="btn btn-primary news-btn mobile">ACCEPT</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">USER_NAME</th>
                                                    <td>$50</td>
                                                    <td>TEAM 1</td>
                                                    <td><a href="#" class="btn btn-primary news-btn mobile">ACCEPT</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">USER_NAME</th>
                                                    <td>$10</td>
                                                    <td>TEAM 2</td>
                                                    <td><a href="#" class="btn btn-primary news-btn mobile">ACCEPT</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END ACCORDION -->
                </div>
            </div>
        </div>
        <!-- END OF SINGLE GAME INFO DIV -->

    </div>
    <!-- END DIV CONTAINING SLIDER -->
</div>
<!-- END GAMES -->
<!-- BETS -->
<div class="row-col d-flex flex-wrap justify-content-center col-sm-12 Border">
    <div class="row-col col-12 d-flex flex-wrap ">
        <div class="row-col col-12 d-flex flex-wrap justify-content-between">
            <div class="col-6">
                <h1 class="newsHead">
                    Live Bets
                </h1>
            </div>
        </div>
        <div class="row-col col-sm-10 d-flex flex-wrap justify-content-center">
            <!-- CARDS -->
            <div class="card shadow-effect  d-flex flex-wrap col-sm-10 justify-content-center mobile">

                <div class="card-body col-sm-12 d-flex flex-wrap justify-content-center mobile">
                    <table class="table table-striped table-dark mobile">
                        <thead>
                            <tr>
                                <th scope="col">Bet Terms</th>
                                <th scope="col">Time</th>
                                <th scope="col">Challenger</th>
                                <th scope="col">Wager</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Dallas Maverics beat Chicago Bulls</th>
                                <td>Today at 9pm</td>
                                <td>Cody</td>
                                <td>$100</td>
                                <td><a href="#" class="btn btn-danger mobile">Challenge Bet</a></td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>